.navbar {
    justify-content: center;
    background-color: black; 
}

.navbar-brand, .navbar-nav {
    text-align: center;
}

.container-fluid {
    background-color: black;
}

.container {
    flex: 1;
}
/* Parallax Section */

.hero-image {
    background-image: url('/static/images/nightsky.jpg'); /* Replace with your image URL */
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 750px; /* Adjust height as needed */
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7); /* Shadow below the hero section */
    overflow: hidden;
}


.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.hero-subtext {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.6); /* Makes the text semi-transparent */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
    letter-spacing: 0.5px;
    font-weight: 300; 
    text-align: center;
    font-style: italic;
}

body {
    background: linear-gradient(to bottom, black, #d3d3d3); /* Gradient from black to light grey */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.card-body {
    background-color: lightgrey;
}

.masthead-image img {
    width: 100%;
}

h1 {
    color: white;
    
}

.my-4 {
    color: white;
}

.underliner {
   text-decoration: underline;
}

