.navbar {
    justify-content: center;
    background-color: black; 
}

.navbar-brand, .navbar-nav {
    text-align: center;
}

.container-fluid {
    background-color: black;
}

/* Parallax Section */

.hero-image {
    background-image: url('/static/images/nightsky.jpg'); /* Replace with your image URL */
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 750px; /* Adjust height as needed */
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7); /* Shadow below the hero section */
    overflow: hidden;
}


.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

body {
    background: linear-gradient(to bottom, black, #d3d3d3); /* Gradient from black to light grey */
}


.card-body {
    background-color: lightgrey;
}

.masthead-image img {
    width: 100%;
}

h1 {
    color: white;
    
}

.my-4 {
    color: white;
}

.underliner {
   text-decoration: underline;
}